.carousel-item {
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2rem;
  z-index: 2;
  width: 80%;
}

.carousel-caption h5 {
  font-size: 3rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.5rem;
}

.shape-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  background: rgba(128, 237, 153, 0.8);
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 90%,
    25% 100%,
    0% 65%,
    10% 30%
  );
  z-index: 1;
}

@media (max-width: 768px) {
  .carousel-caption {
    width: 90%;

    font-size: 1.5rem;
    margin-top: 40px;
  }

  .carousel-caption h5 {
    font-size: 2rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .shape-overlay {
    width: 90%;
    height: 50%;
  }
}

.carousel-item:nth-child(2) .shape-overlay {
  background: rgba(238, 174, 202, 0.8);
}
.carousel-item:nth-child(3) .shape-overlay {
  background: rgba(144, 190, 109, 0.8);
}
.products-section {
  background-color: #f0f4f3;
  padding: 4rem 0;
}

.section-title {
  font-size: 2.5rem;
  color: #3cbc5a;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-description {
  font-size: 1.25rem;
  color: #6b6b6b;
  max-width: 600px;
  margin: 0 auto;
}
.products-section {
  background-color: #f0f4f3;
}
.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-price {
  margin-top: auto;
}
.card-title {
  color: #3cbc5a;
}
.jumbotron {
  position: relative;
  overflow: hidden;
}

.bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #5dcf78;
}

.bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(221, 157, 185, 0.8);
}

.container {
  position: relative;
  z-index: 1;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron p {
  margin-bottom: 1.5rem;
}
.jumbotron a {
  color: #5dcf78;
}
.social-item {
  margin-bottom: 25px;
}
